# ignore virtual environment
.venv

# ignore pycharm setting
.idea

# ignore api key
OpenAI_ME/config.json

#cached py
__pycache__/
*.pyc

# file run on windows to run
OpenAI_ME/win1.py
OpenAI_ME/winUtil.py

# Cursor specific
.cursorignore
.cursor/
.cursor-cache/